body {
  background-image: url(image/pexels-photo-5412499.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
  margin: 0;
}

.calculator {
  width: 330px;
  padding: 25px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(12px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

#display {
  height: 80px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.12);
  color: white;
  font-size: 45px;
  text-align: right;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 13px;
}

button {
  height: 65px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.18);
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: rgba(255, 255, 255, 0.35);
}

button:nth-child(2),
button:nth-child(3),
button:nth-child(8),
button:nth-child(12),
button:nth-child(16),
button:nth-child(19),
button:nth-child(20) {
  background: orange;
}

button:nth-child(1),
button:nth-child(4) {
  background: rgba(255, 255, 255, 0.35);
  color: black;
}
